<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainController">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link href="scss/theme.css" type="text/css" rel="Stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
    <title>The Dream Centre</title>
    <link href="node_modules/hc-offcanvas-nav/src/scss/hc-offcanvas-nav.css" rel="stylesheet" />
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/hc-offcanvas-nav/src/js/hc-offcanvas-nav.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="js/app-w-classes.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      fbq("init", "953981534727552");
      fbq("track", "PageView");
    </script>
    <noscript><img height="1" width="1" style="display: none" src="https://www.facebook.com/tr?id=953981534727552&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body class="" ng-init="getScheduleData()">
    <!-- banner include -->
    <div class="d-none d-lg-block" ng-include src="'banner_new.html'"></div>
    <div class="d-lg-none" ng-include src="'_banner-slide.html'"></div>
    <!-- / banner include -->

    <div class="container pb-5 pt-5 mt-5">
      <div class="h2 font-tdc text-dark text-center text-uppercase py-4">Sweet Dreamers</div>

      <div class="py-4">
        <div>Our 2-for-1 Sweet Dreamers Promotion CONTINUES!!! (Ages 18-36 months). Register for any one of these classes and attend a 2nd weekly class in the same session at no additional charge! *Some rules apply.</div>
      </div>

      <div class="row no-gutters justify-content-center pb-5" ng-init="classtype='dance'">
        <div class="col text-center p-1">
          <a ng-click="classtype='dance'">
            <img ng-src="./img/orb-dance-wtext.svg" class="img-fluid grow" style="max-width: 90px" alt="" />
          </a>
          <div ng-class="{'border-pink':classtype=='dance', 'border-white':classtype!='dance'}" class="border-bottom" style="border-bottom-width: 8px !important"></div>
        </div>
        <div class="col text-center p-1">
          <a ng-click="classtype='gymnastics'">
            <img ng-src="./img/orb-gymnastics-wtext.svg" class="img-fluid grow" style="max-width: 90px" alt="" />
          </a>
          <div ng-class="{'border-purple':classtype=='gymnastics', 'border-white':classtype!='gymnastics'}" class="border-bottom" style="border-bottom-width: 8px !important"></div>
        </div>
        <div class="col text-center p-1">
          <a ng-click="classtype='martialarts'">
            <img ng-src="./img/orb-martialarts-wtext.svg" class="img-fluid grow" style="max-width: 90px" alt="" />
          </a>
          <div ng-class="{'border-blue':classtype=='martialarts', 'border-white':classtype!='martialarts'}" class="border-bottom" style="border-bottom-width: 8px !important"></div>
        </div>
      </div>

      <!-- <div class="row no-gutters justify-content-between pb-5" ng-init="classtype='dance'">
        <div class="col-4">
          <a ng-click="classtype='dance'">
            <div class="d-flex justify-content-center align-items-center flex-column text-center text-pink">
              <div>
                <img ng-src="./img/orb-dance.svg" style="width: 50px" alt="" />
              </div>
              <div class="pl-2">
                <div class="h6 mb-0 font-weight-bold text-uppercase">Mommy &amp; Me</div>
                <div class="h5 mb-1 font-tdc text-uppercase">Dance</div>
              </div>
            </div>
          </a>
          <div ng-class="{'border-pink':classtype=='dance', 'border-white':classtype!='dance'}" class="border-bottom" style="border-bottom-width: 8px !important"></div>
        </div>
        <div class="col-4">
          <a ng-click="classtype='gymnastics'">
            <div class="d-flex justify-content-center align-items-center flex-column text-center text-purple">
              <div>
                <img ng-src="./img/orb-gymnastics.svg" style="width: 50px" alt="" />
              </div>
              <div class="pl-2">
                <div class="h6 mb-0 font-weight-bold text-uppercase">Parent &amp; Tot</div>
                <div class="h5 mb-1 font-tdc text-uppercase">Gymnastics</div>
              </div>
            </div>
          </a>
          <div ng-class="{'border-purple':classtype=='gymnastics', 'border-white':classtype!='gymnastics'}" class="border-bottom" style="border-bottom-width: 8px !important"></div>
        </div>
        <div class="col-4">
          <a ng-click="classtype='martialarts'">
            <div class="d-flex justify-content-center align-items-center flex-column text-center text-blue">
              <div>
                <img ng-src="./img/orb-martialarts.svg" style="width: 50px" alt="" />
              </div>
              <div class="pl-2">
                <div class="h6 mb-0 font-weight-bold text-uppercase">Parent &amp; Lil' Ninjas</div>
                <div class="h5 mb-1 font-tdc text-uppercase">Taekwando</div>
              </div>
            </div>
          </a>
          <div ng-class="{'border-blue':classtype=='martialarts', 'border-white':classtype!='martialarts'}" class="border-bottom" style="border-bottom-width: 8px !important"></div>
        </div>
      </div> -->

      <div ng-if="classtype=='dance'">
        <div class="h4 text-pink font-weight-bold">Mommy &amp; Me Dance</div>
        <p>Our Mommy and Me Dance class is a wonderful introduction to dance that Mom and/or Dad can attend with their little one. It’s an introduction to learning fine motor skills, musicality, marching, galloping, stretches, and learning feet, leg and arm positions in dance.</p>
        <p>
          We also use many props and themes in the class to keep the little ones engaged. For example, we use wands and ribbons while learning our moves like walking on our "tippy toes" and galloping. Another example is a Valentine's Day theme we’ve used in the past where the kids used heart wands,
          plush hearts to spin with, hula hoops and jump through, etc. We also focus on the beginnings of musicality by clapping and stepping along to the music, and some Mommy "boogie down time" to fun, children's music.
        </p>
        <p><strong>Class Attire</strong> – Any of the following options are appropriate; fitted leggings/tank or T/barefoot, OR ballet slippers/bodysuit/tights/tutu.</p>
        <div class="py-3">
          <div ng-init="getClasses('Sweet Dreamers', 'Recreational Dance', 'Sweet Dreamers')" ng-controller="ClassController">
            <div ng-include="'./_class-list-sweetdreamers.html'" ng-init="brandColor='pink'"></div>
          </div>
        </div>
      </div>

      <div ng-if="classtype=='gymnastics'">
        <div class="h4 text-purple font-weight-bold">Parent &amp; Tot Gymnastics</div>
        <p>Enjoy an enthusiastic, fun-filled program specially designed for boys and girls 18-36 of age, complete with songs, circuits, games and exciting themes!</p>
        <p>Supervised by our specially trained coaches and with each child's parent providing hands-on guidance, tots will explore and learn the six fundamental movement patterns used in gymnastics - Statics, Landings, Rotations, Swings, Springs and Locomotions.</p>
        <p>This program also introduces tots to the various gymnastics apparatus - vault, bars, beam, floor, tumbletrak, trampoline, ropes and swings.</p>
        <p><strong>Class Attire</strong> – Any of the following options are appropriate; fitted leggings, shorts, or bodysuit, a tank or t-shirt, and bare feet.</p>
        <div class="py-3">
          <div ng-init="getClasses('Sweet Dreamers', 'Recreational Gymnastics', 'Sweet Dreamers')" ng-controller="ClassController">
            <div ng-include="'./_class-list-sweetdreamers.html'" ng-init="brandColor='purple'"></div>
          </div>
        </div>
      </div>

      <div ng-if="classtype=='martialarts'">
        <div class="h4 text-blue font-weight-bold">Parent &amp; Lil' Ninjas Taekwando</div>
        <p>
          This class is a wonderful introduction for any budding martial artist. With the assistance of mom and/or dad, children will engage in the basics of martial arts through the use of many props and themes. For example, striking pads, foam swords, climbing ladders, boards breaking(soft surface
          touch for this age group), music, and more. All classes are led by our specially trained martial arts Instructors.
        </p>
        <p><strong>Class Attire</strong> – Any of the following options are appropriate; fitted leggings, trackpants, or shorts, tank or t-shirt, and bare feet.</p>
        <div class="py-3">
          <div ng-init="getClasses('Sweet Dreamers', 'Recreational Martial Arts', 'Sweet Dreamers')" ng-controller="ClassController">
            <div ng-include="'./_class-list-sweetdreamers.html'" ng-init="brandColor='blue'"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer include -->
    <div ng-include src="'footer.html'"></div>
    <!-- / footer include -->
  </body>
</html>
