<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link href="scss/theme.css" type="text/css" rel="Stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
    <title>The Dream Centre</title>
    <link href="node_modules/hc-offcanvas-nav/src/scss/hc-offcanvas-nav.css" rel="stylesheet" />
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/hc-offcanvas-nav/src/js/hc-offcanvas-nav.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      fbq("init", "953981534727552");
      fbq("track", "PageView");
    </script>
    <noscript><img height="1" width="1" style="display: none" src="https://www.facebook.com/tr?id=953981534727552&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body class="" ng-init="getScheduleData()">
    <!-- banner include -->
    <div class="d-none d-lg-block" ng-include src="'banner_new.html'"></div>
    <div class="d-lg-none" ng-include src="'_banner-slide.html'"></div>
    <!-- / banner include -->

    <div class="container pb-5" style="padding-top: 60px">
      <div class="h2 font-tdc text-info text-center text-uppercase pt-5 pb-2">Martial Arts</div>

      <div class="row pt-5">
        <div class="col-12 col-md-7 col-xl-7">
          <div class="pb-4">
            <h3 class="text-blue font-weight-bold">Recreational</h3>
            <p>Martial Arts promotes respect, self-discipline, body awareness and confidence in students of all ages and is an excellent tool for lifelong success. Our classes are taught by experienced instructors with many years of training and teaching, both in martial arts and child development studies.</p>
            <p>Our Martial Arts program utilizes the International Tae Kwon Do curriculum combined with modern teaching methods to provide the ultimate martial arts experience for your child!</p>
            <h5 class="text-blue font-weight-bold">Traditional Martial Arts</h5>            

            <p>Our traditional martial arts program teaches International Tae Kwon do curriculum with a focus on child development. Students are placed with similar age groups to facilitate appropriate physical learning goals. Each class will offer tiered instruction to meet the different belt levels of students.</p>
            <p>If your child is on the edge of an age group (eg. 6.5), we are happy to move them to the older group, please just check in with the front desk.</p>
            <ul>
              <li>Tae Kwon Do Minis Ages 3-4</li>
              <li>Tae Kwon Do Dragons Ages 5-6</li>
              <li>Tae Kwon Do Juniors Ages 7-10</li>
              <li>Tae Kwon Do Elites Ages 10+ / Orange belt and above</li>
            </ul>
            <h5 class="text-blue font-weight-bold">Sparring and Self Defense</h5>            
            <p>Students 7 years and older will love our Self defence and sparring class! Our self defense curriculum works on defensive technique, ensuring students know how to de-escalate scenarios and get themselves to a trusted adult. In sparring, our students practice light contact sparring scenarios, learning to use excellent body control with their strikes and blocks.</p>
            <p>Students may borrow gear for their first month. <strong>Students continuing in the program will be charged $34.99 for their own gloves.</strong> Students with 3 months of experience or more may decide to purchase their own helmet and foot gear ($34.99 each) in order to do free sparring rounds. Your instructor will discuss this with you as appropriate. Pricing subject to change.</p>              
            <h5 class="text-blue font-weight-bold">Kids Fitness Kickboxing</h5>            
            <p>We love our kid’s fitness kickboxing program for stress relief, body control, and general self defense awareness.</p>
            <p>Students take part in no body contact drills (strikes to pads only), learning kickboxing technique in a safe and controlled environment. Students will also get to take part in a variety of fitness drills utilizing different equipment such as Trampoline, Kettlebells, TRX and more!</p>
            <p>Students may borrow gear for their first month. <strong>Students continuing in the program will be charged $34.99 for their own gloves. Pricing subject to change.</strong></p>
          </div>

          <div class="pb-4">
            <h3 class="text-blue font-weight-bold">Belt Evaluations</h3>
            <p>Belt Evaluations will take place every three months during the season for students in our Traditional Martial Arts classes (not fitness kickboxing or lil ninjas)</p>          
            <ul>
              <li>All students who are registered between September 1st and October 31st and have their White to Green belt will be enrolled to evaluate in November.</li>
              <li>All students who are registered between November 1st and January 31st  and have their White to Green belt will be enrolled to evaluate in February.</li>
              <li>All students who register after January 31st OR who have not evaluated in evaluation 1 or 2, will be evaluated in May. </li>
            </ul>
            <p>Belt evaluations give students a tangible demonstration of their skill level, demonstrate their areas of strengths and improvement, and assist in goal setting for their next stage. Students grow in confidence when they are able to present their learning, and resiliency when they have to work through challenges. Belt evaluations focus on creating lifelong learners and instilling the tenants of martial arts that create community members who can protect themselves and others.</p>          
            <p>Families will have the option of having the eval done in class, or register for a timeslot on the weekend. All registered families will be contacted a minimum of 2 weeks prior to evals with further details.</p>
            <p>All students enrolled in the evaluation will be billed $49.99 on November 1, 2021 & February 1, 2022. If a student starts later in the season or elects to do a third belt evaluation, the billing day is May 1, 2022. If a student does not pass their belt evaluation, they will retake the evaluation when they have completed the necessary corrections, as well as completed a 1:1 private lesson during class time to work on their skill set. There is no charge for re-evaluations.</p>
            <ul>
              <li>Evaluation 1: November 7th - 19th</li>
              <li>Evaluation 2: February 20th - March 4th</li>
              <li>Evaluation 3: May 22nd - June 3rd</li>
            </ul>
          </div>
          
          <div class="pb-4">
            <div class="d-flex justify-content-start align-items-center mb-3">
              <div class="badge badge-black">NEW</div>
              <h3 class="text-blue font-weight-bold mb-0 ml-2"> Junior Leader Program</h3>
            </div>
            <p>Is your child 9 years or older with a minimum of 3 months Martial Arts experience? Are they interested in developing their leadership skills while immersed in Martial Arts? Connect with us about our Junior Leaders program!</p>
            <p>Junior leaders who are 9 and 10 years old may assist with our 3-4 and 5-6 year old classes. Junior leaders who are 11+ may assist with our 3-4, 5-6, and 7-10 classes.</p>
            <p>Junior Leaders hold equipment, assist students in 1:1 learning of their forms, and encourage on task work during activities. Each junior leader receives a Junior Leader shirt and leadership direction from our martial arts staff.</p>
          </div>
        </div>

        <div class="col-12 col-md-5 col-lg-4 offset-lg-1">
          <div class="border-left bg-light p-3">
            <div class="h5 text-info">Uniform</div>
            <div class="font-weight-light">
              <p>When you register, please indicate if you would like to purchase one ($19.99) or two ($34.99) martial arts t-shirts for your student to be billed to your account. <strong>This is your only uniform cost.</strong></p>
              <p>Each student will receive a white belt in their first month of classes if taking part in our Traditional Martial Arts classes (not fitness kickboxing or lil ninjas).</p>
              <p>For their first few classes, they should arrive in a comfortable shirt that allows easy movement, and any athletic style black pants (leggings, track pants, etc). They will be fitted for their martial arts shirt and receive it by the end of their first month.</p>
            </div>
          </div>
          <div class="py-4">
            <div class="accordion" id="maAges">
              <div class="card">
                <div class="card-header p-0" id="maAge1">
                  <a href="#" class="text-blue font-weight-bold" data-toggle="collapse" data-target="#maAgeContent1" aria-expanded="true" aria-controls="maAgeContent1">
                    <div class="text-center p-2">
                      <div class="h6 mb-0 font-weight-bold">Taekwondo Minis</div>
                      <div class="small">Ages 3 - 4</div>
                    </div>
                  </a>
                </div>
                <div id="maAgeContent1" class="collapse" aria-labelledby="maAge1" data-parent="#maAges">
                  <div class="card-body small">
                    <p>
                      This class is dedicated to engaging students in teamwork and personal growth through games and skill-based learning. Students are introduced to the fundamental building blocks of the values associated with martial arts (sharing, teamwork) teamwork and pre-cursors to martial
                      arts techniques (striking, kicks, ducks, blocks).
                    </p>
                    <p>
                      Students are engaged through age-appropriate skill building activities and whole body movement. Students are introduced to the basics of martial arts (stances, blocks, kicks) and focus on developing life skills (such as communicating needs, sharing, teamwork and conflict
                      resolution).
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0" id="maAge2">
                  <a href="#" class="text-blue font-weight-bold" data-toggle="collapse" data-target="#maAgeContent2" aria-expanded="true" aria-controls="maAgeContent2">
                    <div class="text-center p-2">
                      <div class="h6 mb-0 font-weight-bold">Dragons</div>
                      <div class="small">Ages 5 - 6</div>
                    </div>
                  </a>
                </div>
                <div id="maAgeContent2" class="collapse" aria-labelledby="maAge2" data-parent="#maAges">
                  <div class="card-body small">
                    <p>
                      This class is dedicated to engaging students in a life long passion for martial arts through games and skill-based learning. Students work on the values associated with martial arts (sharing, teamwork) teamwork and basic martial arts techniques in a no contact environment.
                      Focus is put on non-violent problem solving, self confidence, and utilizing the tools around us to help us manage our emotions safely.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0" id="maAge3">
                  <a href="#" class="text-blue font-weight-bold" data-toggle="collapse" data-target="#maAgeContent3" aria-expanded="true" aria-controls="maAgeContent3">
                    <div class="text-center p-2">
                      <div class="h6 mb-0 font-weight-bold">Bo Staff</div>
                      <div class="small">Ages 6+</div>
                    </div>
                  </a>
                </div>
                <div id="maAgeContent3" class="collapse" aria-labelledby="maAge3" data-parent="#maAges">
                  <div class="card-body small">
                    <p>An introduction to Tae Kwon Do's most prominent weapon, students will learn the fundamentals of Bo Staff skills, and work on basic forms. Students must have at least 3 months of martial arts experience.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0" id="maAge4">
                  <a href="#" class="text-blue font-weight-bold" data-toggle="collapse" data-target="#maAgeContent4" aria-expanded="true" aria-controls="maAgeContent4">
                    <div class="text-center p-2">
                      <div class="h6 mb-0 font-weight-bold">Taekwando Elites</div>
                      <div class="small">Ages 7 - 10</div>
                    </div>
                  </a>
                </div>
                <div id="maAgeContent4" class="collapse" aria-labelledby="maAge4" data-parent="#maAges">
                  <div class="card-body small">
                    <p>
                      Our students focus on developing strong martial arts technique (forms, sparring, self-defense) and martial arts values (such as focus, respect, self-discipline and leadership). Students engage in high-paced classes that grows their physical fitness levels and expands their
                      understanding of body mechanics. Our students progress through their belts according to curriculum expectations and are presented with leadership opportunities within class as well as with our Tots and Exceptionalities classes. A strong emphasis is placed on self-defense and
                      conflict resolution.
                    </p>
                    <p>
                      Our Teen/Adults class focuses on providing martial arts training combined with physical fitness. Our students progress through their belts according to curriculum expectations, with the option to participate in contact and non-contact streams. Students are presented with
                      leadership opportunities within class as well as our youth and Exceptionalities programs to provide personal growth and role-modelling. Encouraging personal growth and comradery, with goal-setting aided by the martial arts belt system, all adults can benefit from this program.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0" id="maAge5">
                  <a href="#" class="text-blue font-weight-bold" data-toggle="collapse" data-target="#maAgeContent5" aria-expanded="true" aria-controls="maAgeContent5">
                    <div class="text-center p-2">
                      <div class="h6 mb-0 font-weight-bold">Inter Advanced Tae Kwon Do</div>
                      <div class="small">Ages 7+ orange belt and above</div>
                    </div>
                  </a>
                </div>
                <div id="maAgeContent5" class="collapse" aria-labelledby="maAge4" data-parent="#maAges">
                  <div class="card-body small">
                    <p>Our Inter-Advanced class is designed to meet the skill level of students with their full orange belt and above (minium 7 years old)</p>
                    <p>Working on proper falls, throws, multi-step defences and combinations, this class leads students on their path to Black Belt. Students with their orange belt and above should be striving to consistently be registered in, and attend, two classes per week.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="h3 font-weight-bold text-blue">Classes</div>
          <!-- <div class="font-weight-light small pb-2">Please ensure you are careful to register for the age and day you want.</div> -->
          <div>
            <table class="table table-hover table-borderless table-sm small">
              <tbody
                ng-repeat="group in [{'daylong':'Monday','dayshort':'mon'},{'daylong':'Tuesday','dayshort':'tue'},{'daylong':'Wednesday','dayshort':'wed'},{'daylong':'Thursday','dayshort':'thu'},{'daylong':'Friday','dayshort':'fri'},{'daylong':'Saturday','dayshort':'sat'},{'daylong':'Sunday','dayshort':'sun'}]"
              >
                <tr ng-show="filteredmon.length > 0" class="border-bottom">
                  <td colspan="5" class="h6 mb-0 font-weight-bold pb-2 pt-4">{{group.daylong}} Classes</td>
                </tr>
                <tr class="border-bottom" ng-repeat="item in filteredmon = (scheduledata | orderBy:['min_age', 'max_age'] | filter:{category1:'Martial Arts'} | filter:{category2:'Recreational'} | filter:{category3:'!Sweet Dreamers'} | filter:limitDay(group.dayshort))">
                  <td>
                    <div class="d-md-none pb-2">
                      <div class="font-weight-bold">{{item.name}}</div>
                      <div class="small">
                        <span class="text-uppercase" ng-repeat="day in item.meeting_days.daylist">{{day}} </span>
                        <span>{{item.start_time}} - {{item.end_time}}</span>
                      </div>
                      <div class="small">{{item.start_date | date:'mediumDate'}} - {{item.end_date | date:'mediumDate'}}</div>
                      <div class="small">Ages: {{item.min_age}} - {{item.max_age}}</div>
                      <div class="small">{{item.tuition.fee | currency}} monthly</div>
                    </div>
                    <a ng-if="item.online_reg_link" ng-href="{{item.online_reg_link}}" target="_blank" class="text-blue font-weight-bold">
                      <span ng-if="item.openings.calculated_openings > 0">Register</span>
                      <span ng-if="item.openings.calculated_openings <= 0">Wait List</span>
                    </a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    {{item.name}}
                    <div class="small font-weight-light">{{item.category1}} | {{item.category2}} | {{item.category3}}</div>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <div>
                      <span class="text-uppercase" ng-repeat="day in item.meeting_days.daylist">{{day}} </span>
                      <span>{{item.start_time}} - {{item.end_time}}</span>
                    </div>
                    <div class="small font-weight-light">{{item.start_date | date:'mediumDate'}} - {{item.end_date | date:'mediumDate'}}</div>
                  </td>
                  <td class="d-none d-md-table-cell">Ages: {{item.min_age}} - {{item.max_age}}</td>
                  <td class="d-none d-md-table-cell">
                    {{item.tuition.fee | currency}}
                    <div class="small font-weight-light">monthly</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!-- footer include -->
    <div ng-include src="'footer.html'"></div>
    <!-- / footer include -->
  </body>
</html>
