<div>
    <div ng-if="!classesreturned" class="font-weight-light pb-4"><i class="fas fa-spinner fa-pulse mr-2"></i>Loading classes...</div>
    <div ng-if="classesreturned">
      <div ng-show="classes.length == 0" class="text-muted"><i class="fa fa-info-circle"></i> No classes found. Check back soon for updates!</div>
      <div ng-show="classes.length > 0">
        <div>
          <div>
            <table class="table table-borderless">
                <tbody>
                  <tr ng-repeat="item in results = (classes | orderBy:['min_age','start_date'] | filter:subfilter)">
                    <td>
                        <div ng-if="!item.online_reg_link" class="small font-weight-light font-italic">Contact us for registration</div>
                        <div class="pt-2">
                            <a ng-if="item.online_reg_link" ng-href="{{item.online_reg_link}}" target="_blank" class="btn btn-sm text-nowrap text-white" ng-class="'btn-' + brandColor">
                            <span ng-if="item.openings.calculated_openings > 0">Register</span>
                            <span ng-if="item.openings.calculated_openings <= 0">Wait List</span>
                            </a>
                        </div>
                    </td>
                    <td class="w-100">
                        <div>{{item.name}}</div>
                        <div class="d-flex flex-wrap">
                          <div class="text-uppercase text-nowrap font-weight-bold pr-3">{{item.start_date | date:'mediumDate'}} - {{item.end_date | date:'mediumDate'}}</div>
                          <div class="text-uppercase text-nowrap font-weight-light"><span ng-repeat="day in item.meeting_days.daylist">{{day}}</span>&nbsp;|&nbsp;<span>{{item.start_time}} - {{item.end_time}}</span></div>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
                            
</div>
