<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainController">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <meta name="theme-color" content="#000000" /> -->
    <link href="scss/theme.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link rel="shortcut icon" href="./img/badge-colour-transparent.png" type="image/png" />
    <title>The Family Tree</title>
    <link href="./scss/nav/hc-offcanvas-nav.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../node_modules/hc-offcanvas-nav/src/js/hc-offcanvas-nav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js" integrity="sha256-biQnzwpmTVb5ZZDRDiU8iwbj7ZPTH9SZSxn5gewyFA0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js" integrity="sha256-jZRUyy674QanjfVAn9YBW+d1iuxj8csDOxrwS35/GLo=" crossorigin="anonymous"></script>
    <script src="js/app-w-classes.js"></script>
  </head>
  <body ng-cloak>
    <div class="d-none d-md-block" ng-include src="'banner.html'"></div>
    <div class="d-md-none" ng-include src="'_banner-slide.html'"></div>

    <!-- <div ng-include src="'_page-intro.html'"></div> -->

    <div class="container bg-white pb-5 mb-5 pt-5">
      <div class="display-4 mb-3 text-center font-cursive font-weight-bold">Passes</div>
      <div ng-include="'_brand-divider.html'"></div>

      <div class="d-flex justify-content-center align-items-center flex-column flex-md-row pt-3 pb-5">
        <div class="px-3">Mamas (adult)</div>
        <div class="px-3">Littles (6-40 months recommended)</div>
        <div class="px-3">Extra Littles (under 6 months)</div>
      </div>

      <div class="row" ng-init="getClasses('Family Tree', '', ''); brandColor='pink';" ng-controller="ClassController">
        <div class="col-12 col-lg-6 pb-5">
          <div class="card h-100 shadow">
            <div class="card-body">
              <div class="h3 font-weight-bold">Drop-In Rate</div>
              <div class="pb-3 pt-2">
                <div class="d-flex justify-content-start align-items-top flex-wrap">
                  <div class="pr-3 font-weight-bold text-uppercase">Open</div>
                  <div class="">
                    <div>Tuesday <span class="text-nowrap">10:00AM to 1:00PM</span></div>
                    <div>Thursday <span class="text-nowrap">10:00AM to 1:00PM</span></div>
                  </div>
                </div>
              </div>
              <div class="pb-3">
                <div class="d-flex justify-content-start align-items-center">
                  <div class="pr-3">
                    <div class="text-muted text-center bg-light p-3">
                      Pay Upon Arrival <br />
                      via Credit Card only
                    </div>
                  </div>
                  <div>
                    <div class="h5 mb-0">$19.99</div>
                    <div class="small font-weight-light">All prices subject to HST</div>
                  </div>
                </div>
              </div>
              <div class="h6">Mama + Little (2nd Child is FREE)</div>
              <div class="h6">Children 6-40 months recommended</div>
              <div class="pt-3">
                <div class="font-weight-light">Includes</div>
                <ul class="font-weight-light">
                  <li>Full Nest access during regularly scheduled hours</li>
                  <li>Open Gym access</li>
                  <li>Daily classes based on available spaces</li>
                  <li>Some Special Guests</li>
                  <li>Some Special Events</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pb-5">
          <div class="card h-100 shadow">
            <div class="card-body">
              <div ng-repeat="item in classes | filter:{name:'6 visit pass'}">
                <div class="h3 font-weight-bold">6 Visit Pass</div>
                <div class="pb-3 pt-2">
                  <div class="d-flex justify-content-start align-items-top flex-wrap">
                    <div class="pr-3 font-weight-bold text-uppercase">Open</div>
                    <div class="">
                      <div>Tuesday <span class="text-nowrap">10:00AM to 1:00PM</span></div>
                      <div>Thursday <span class="text-nowrap">10:00AM to 1:00PM</span></div>
                    </div>
                  </div>
                </div>
                <div class="pb-3">
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="pr-3">
                      <div ng-if="!item.online_reg_link" class="small font-weight-light font-italic">Contact us for registration</div>
                      <a ng-if="item.online_reg_link" ng-href="{{item.online_reg_link}}" target="_blank" class="btn btn-primary btn-lg">
                        <span ng-if="item.openings.calculated_openings > 0">Register</span>
                        <span ng-if="item.openings.calculated_openings <= 0">Wait List</span>
                      </a>
                    </div>
                    <div>
                      <div class="h5 mb-0">$99.99</div>
                      <div class="small font-weight-light">All prices subject to HST</div>
                    </div>
                  </div>
                </div>
                <div class="h6">Mama + Little (2nd Child is FREE)</div>
                <div class="h6">Children 6-40 months recommended</div>
                <div class="pt-3">
                  <div class="font-weight-light">Includes</div>
                  <ul class="font-weight-light">
                    <li>Full Nest access during regularly scheduled hours</li>
                    <li>Open Gym access</li>
                    <li>Daily classes based on available spaces</li>
                    <li>Some Special Guests</li>
                    <li>Some Special Events</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col offset-lg-1 border-left">
          <div class="">
            <div class="font-weight-light">
              <div class="h6 font-weight-bold">Family Tree &amp; Nest Memberships</div>
              <p>
                We provide our Mamas and their Littles with fun activities, events, programs and resources designed to enhance both physical and social development. To become a part of our family, Mamas, simply click on the Membership Icon below and you and your Littles will be all set to grow with
                us!
              </p>
              <p>
                All membership amounts are promotional at this point in time and subject to change with at least 30 days notice. Once you select your preferred membership type, please add Mama/Parent/Guardian information and only register your Littles as the students. Tuition amounts are adjusted by
                our administrative team if necessary once your registration process is complete.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div ng-include src="'footer.html'"></div>
  </body>
</html>
