<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="AppController">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link href="../../scss/theme.css" type="text/css" rel="Stylesheet" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="../img/favicon.png" type="image/png">
        <title>TDC Fundraising</title>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="./js/app.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <base href="/" />
        <script>
            function onSubmit(token) {
                document.getElementById("contactForm").submit();
            }
        </script>
    </head>
    <body class="fundraising-page bg-light">


        <div class="text-center bg-dark px-3 py-3 text-white fixed-top">
            <img src="../img/tdclogo-whitetext.svg" class="" style="width: 100%; max-width: 220px;">
        </div>
        
        <div class="text-center" style="padding-top: 100px;">
            <div class="font-weight-light h3 mb-0 text-uppercase text-nowrap">Competitive <span class="font-weight-bold text-pink">Dance </span><span class="text-pink">Team</span></div>
            <div class="text-uppercase font-weight-bold mb-1" style="line-height: .8em; font-size: 3.4rem;">Fundraising</div>
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                <div class="small font-weight-light text-uppercase text-right text-nowrap" style="line-height: 1em;">
                    <div>for</div>
                    <div>the</div>
                </div>
                <div class="h2 mb-0 font-weight-bold text-pink text-uppercase ml-2 mr-1 text-nowrap" style="letter-spacing: 2px;">2022-2023</div>
                <div class="h2 mb-0 font-weight-light text-uppercase">Season</div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center py-5">
            <div class="bg-pink" style="height: 4px; width: 20%; max-width: 90px; margin: 2px;"></div>
            <div class="bg-purple" style="height: 4px; width: 20%; max-width: 90px; margin: 2px;"></div>
            <div class="bg-blue" style="height: 4px; width: 20%; max-width: 90px; margin: 2px;"></div>
        </div>

        <div class="container pb-5">

            <div class="d-none">
                <div class="card-deck">
                    <div class="card" ng-repeat="item in events">
                        <img class="card-img-top" ng-src="{{item.imgurl}}" alt="{{item.name}}" style="height: 120px; object-fit: cover;">
                        <div class="card-body">
                            <div class="h4 font-weight-bold">{{item.name}}</div>
                            <p class="card-text font-weight-light">{{item.description}}</p>
                        </div>
                    </div>
                </div>

                <div class="py-4">
                    <hr>
                </div>
            </div>

            <div class="mx-auto pb-5" style="max-width: 450px;">
                <div class="h4 font-weight-bold mb-3 text-uppercase text-center">Send Us a Message</div>
                <div class="font-weight-light text-center">We'll do our best to respond quickly, but please keep in mind that we are volunteers and it may take a bit of time to reply.</div>
                <form method="POST" action="fundraisingcontactsend.php" id="contactForm" name="contactForm" class="py-4" novalidate>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="contactname" class="mb-1 font-weight-bold">Your Name <span class="small font-wight-light text-muted font-italic ml-2">Required</span></label>
                                <input class="form-control" ng-model="contactname" ng-required="true" type="text" name="contactname" id="contactname" validate-name />
                                <div ng-show="contactForm.contactname.$touched && contactForm.contactname.$error.required" class="small text-red">Please provide name</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="contactemail" class="mb-1 font-weight-bold">Your Email Address <span class="small font-wight-light text-muted font-italic ml-2">Required</span></label>
                                <input class="form-control" ng-model="contactemail" ng-required="true" type="email" name="contactemail" id="contactemail" />
                                <div ng-show="contactForm.contactemail.$touched && contactForm.contactemail.$error.required" class="small text-red">Please provide email</div>
                                <div ng-show="contactForm.contactemail.$error.email" class="small text-red">Please enter valid email</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contactmessage" class="mb-1 font-weight-bold">Your Message <span class="small font-wight-light text-muted font-italic ml-2">Required</span></label>
                                <textarea class="form-control" ng-model="contactmessage" ng-required="true" rows="4" name="contactmessage" id="contactmessage"></textarea>
                                <div ng-show="contactForm.contactmessage.$touched && contactForm.contactmessage.$error.required" class="small text-red">Please provide a message</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                        <div class="small font-wight-light text-muted font-italic" ng-show="contactForm.$invalid">Please enter all required information to send your message.</div>
                        <div ng-show="contactForm.$valid">
                            <button class="g-recaptcha btn btn-primary px-4" type="submit" data-sitekey="6LeUJAgiAAAAABRCqM_jkc3cOej6LnTgWxZTvfQ0" data-callback="onSubmit">Send Message</button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- <div class="pt-4">
                <ul class="nav justify-content-center nav-pills mb-3" id="navigation-content" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" id="tab01-tab" data-toggle="pill" href="#tab01" role="tab" aria-controls="tab01" aria-selected="false">Ultimate Sports Raffle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" id="tab02-tab" data-toggle="pill" href="#tab02" role="tab" aria-controls="tab02" aria-selected="false">Valentines Dance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" id="tab03-tab" data-toggle="pill" href="#tab03" role="tab" aria-controls="tab03" aria-selected="false">Halloween Dance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" id="tab04-tab" data-toggle="pill" href="#tab04" role="tab" aria-controls="tab04" aria-selected="false">Wine Raffle</a>
                    </li>
                </ul>
                <div class="tab-content p-3" id="navigation-content">
                    <div class="tab-pane fade" id="tab01" role="tabpanel" aria-labelledby="tab01-tab">
                        <hr>
                        <div class="h3 font-weight-light">Ultimate Sports Raffle</div>
                        <div>Content about stuff and things...</div>
                    </div>
                    <div class="tab-pane fade" id="tab02" role="tabpanel" aria-labelledby="tab02-tab">
                        <hr>
                        <div class="h3 font-weight-light">Valentines Dance</div>
                        <div>Content about stuff and things...</div>
                    </div>
                    <div class="tab-pane fade" id="tab03" role="tabpanel" aria-labelledby="tab03-tab">
                        <hr>
                        <div class="h3 font-weight-light">Halloween Dance</div>
                        <div>Content about stuff and things...</div>
                    </div>
                    <div class="tab-pane fade" id="tab04" role="tabpanel" aria-labelledby="tab04-tab">
                        <hr>
                        <div class="h3 font-weight-light">Wine Raffle</div>
                        <div>Content about stuff and things...</div>
                    </div>
                </div>
            </div> -->

        </div>


    </body>
</html>
